{% extends 'centres/base.html' %}
{% load leaflet_tags %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load l10n %}
{% block content %}


{% leaflet_js %}
{% leaflet_css %} 
    <span>{% crispy form form.helper %}</span>
    <div id="yourmap">
        {% leaflet_map "yourmap" callback="window.map_init_basic" %}
    </div>
    <script type="text/javascript">
        function map_init_basic (map, options) {
            var marker = null;
            {% for centre in centreslist %}
            var lon = "{{ centre.location.x }}";
            var lat = "{{ centre.location.y }}";
            var popup = L.popup({closeOnClick: true, autoClose: true}).setContent(                    
            "<h6 my-1 py-1>{{ centre.centreno}} - {{ centre.centrename}}</h5> <strong my-1 py-1>Programs Offered; </strong> {% for prg in centre.centreprograms.all %}<p py-1 my-1>{{prg.Program}}</p>{% endfor %}")
            var marker = L.circleMarker([lat, lon],{radius:4, fillOpacity:1,color:"{{centre.ownership.map_color}}",fillColor:"{{centre.ownership.map_color}}"}).addTo(map).bindPopup(popup);
            {% endfor %}
            }
    </script>
{% endblock content %}
