{% extends 'centres/base.html' %}
{% load leaflet_tags %}
{% block content %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load l10n %}


{% leaflet_js %}
{% leaflet_css %}   

<div class="row">
    <div class="col-12">
        <span>{% crispy form form.helper %}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="map">
            {% leaflet_map "yourmap" callback="window.map_init_basic" %}
        </div>
    </div>
</div>
    <script type="text/javascript">
        function map_init_basic (map, options) {
            var marker = null;
            {% for item in Programsqueryset %}
            var lon = "{{ item.centreno.location.x }}";
            var lat = "{{ item.centreno.location.y }}";
            var popup = L.popup({closeOnClick: true, autoClose: true}).setContent("<h5>{{ item.centreno.centreno}} - {{ item.centreno.centrename}}</h5>")
            var marker = L.circleMarker([lat, lon],{radius:4, fillOpacity:1,color:"{{item.centreno.ownership.map_color}}",fillColor:"{{item.centreno.ownership.map_color}}"}).addTo(map).bindPopup(popup);
            {% endfor %}
            }
    </script>
{% endblock content %}
