{% extends 'centres/base.html' %}
{% load leaflet_tags %}
{% block content %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load l10n %}


{% leaflet_js %}
{% leaflet_css %}    

<div class="row">
<span class='py-2'>{% crispy form form.helper %}</span>
</div>
{% comment %} <div class="row">
    <a class="btn btn-secondary" href="{% url 'staions-home' %}">Police Stations</a>
    <table class='table table-hover table-sm'>
    <tr><td>#</td><td>CentreNo</td><td>CentreName</td><td>Station Name</td></tr>
    {% for centre in centreslist %}
    <tr><td>{{forloop.counter}}</td><td>{{centre.centreno}}</td><td>{{centre.centrename}}</td><td>{{centre.station}}</td></tr>
    {% endfor %}
    </table>
</div> {% endcomment %}
<div class="row">
<div class="col" style="height: 900px; width= 800px ">
    <h3>Map of centres</h3>
    {% leaflet_map "yourmap" callback="window.map_init_basic" %}
</div>
</div>
    <script type="text/javascript">
        function map_init_basic (map, options) {
            var marker = null;
            {% for item in Programsqueryset %}
            var lon = "{{ item.centreno.location.x }}";
            var lat = "{{ item.centreno.location.y }}";
            var popup = L.popup({closeOnClick: true, autoClose: true}).setContent(                    
            "<h5>{{ item.centreno.centrename}}</h5>")
            
            // zoom to point & add it to map
            {% comment %} var marker = L.circle([lat, lon]).addTo(map).bindPopup(popup).openPopup(); {% endcomment %}
            var marker = L.circleMarker([lat, lon],{radius:4}).addTo(map).bindPopup(popup);
            {% endfor %}
            }
    </script>
{% endblock content %}
